{{yield}}


<div class='col-md-8'>
  <h2>{{post.title}}</h2>
  <h4>{{post.description}}</h4>
  <p><img src={{post.image}} /></p>
  <button {{action 'delete' post}}>Delete</button>
</div>







<!-- ADD <button {{action 'delete' rental}}>Delete</button> for each page -->
